html{
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 19px;
}

/* bagian header */

header{
    display: inline;
}

.judul{
    padding: 30px;
    text-align: center;
    background-image: url(../asset/img/background-mountain.jpg);
    background-size: cover;
    object-position: bottom;
}

.judul h1{
    font-size: 40px;
    margin-bottom: 10px;
}

#nyapauser{
    font-size: 25px;
    font-weight: bold;
}

nav {
    text-align: center;
    background-color: rgba(5, 2, 31, 0.89);
    position: sticky;
    top: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px 15px;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    background-color: white;
    color: black;
}

/* bagian main */

body{
    background-image: url(../asset/img/bush.png);
}

.content, .contact{
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
    margin: 15px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    background-image: url(../asset/img/email-pattern.png);
}

.subjudul{
    text-align: center;
    margin : 20px auto;
    font-size: 25px;
}

.isi{
    text-align: center;
    margin: 0 20px 15px;
    overflow: auto;
}

.isi p {
    margin-top: 45px;
    text-align: justify;
}

.content{
    width: 67%;
    float: left;
}

.contact {
    float: left;
    width: 28%;
    
}

/* button */

.button {
    text-align: center;
    padding: 60px;
}

.button input[type="button"] {
    color: whitesmoke;
    text-decoration: none;
    border-radius: 11px;
    padding: 20px;
    background-color: cornflowerblue;
    font-size: 30px;
    border: 1px solid black;
}

.button input[type="button"]:hover {
    font-weight: bold;
    background-color: rgba(41, 235, 73, 0.979);
    color: black;
}

/* copyright */

.copyright{
    clear: both;
    color: white;
    font-weight: bold;
    background-color: rgba(5, 2, 31, 0.89);
    text-align: center;
    padding: 10px;
}

/* tempat gambar */

figure{
    margin: auto;
    text-align: center;
}

.gambar {
    width: 30%;
    background-size: cover;
    margin: 20px 15px;
    background-position: center;
    border-radius: 50%;
    border: 1px solid black;
}

.profile{
    width: 70%;
    height: 250px;
    background-image: url(../img/profileku.jpg);
    margin: 15px auto;
}

.freecom{
    text-align: center;
    margin: auto;
    width: 70%;
    height: 200px;
    border-radius: 25px;
}

.isigambar{
    width: 30%;
    height: 180px;
    border-radius: 25px;
    margin: 25px auto;
}

/* gambar content disamping */

.floatleft{
    margin-left: auto;
    float: left;
    margin-right: 15px;
}

.floatright{
    margin-right: auto;
    float: right;
    margin-left: 15px;
}

@media screen and (max-width : 1000px){
     .judul.subjudul {
         text-align: center;
     }

     nav {
         position: static;
     }

     nav li {
         display: block;
         margin: 15px auto;
         font-size: 20px;
         text-indent: -20%;
     }

     .content, .aside{
         width: 100%;
         padding: 0;
     }
 }